nav {
padding: -10px;
background-color: black;
margin-bottom: 20px;
width: 100%
}

.slider {
    margin-top: 120px;
    width:100%
  
}

.sliderImage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.indicator-item.active {
    background-color: #E5A3AD
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-left: 54px;
    margin-top: 48px
}



h2 {
    font-size: 24px
}

h3 {
    /* color: black;
    background-color: rgba(255,255,255,0.5); */
    font-family: 'Playfair Display', serif;
    color:white;
    background-color: rgba(0, 0, 0, 0.3); 
}

h5 {
    color: black;
    background-color: rgba(255,255,255,0.5);
}

.grey-text.text-lighten-3 {
color: black
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* max-height: 300px; */
    margin: 2%;
    text-align: center;
    font-family: arial;
    font-size: small
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    /* opacity: 0.7; */
    background-color:#E5A3AD;

  }

  nav ul li:hover {
    background-color:#E5A3AD;
 }

 ul li:hover {
     background-color:#E5A3AD;
 }

  .sidenav {
      background-color: rgba(0, 0, 0, 0.8);

  }

  .sidenav li>a {
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 18px
  }

  .row .col.s12 {
      margin-top: 56px;
      /* border: 1px solid black !important; */
  }

  /* label color */
  .input-field label {
    color:#9e9e9e;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color:#E5A3AD;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #E5A3AD;
    box-shadow: 0 1px 0 0 #E5A3AD;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #E5A3AD;
    box-shadow: 0 1px 0 0 #E5A3AD;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #E5A3AD;
  }
    
  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:#E5A3AD !important;
    background-image: none !important;
    color:#E5A3AD !important;
  }

  input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus,{
    border-bottom: 1px solid #e5a3ad;
    -webkit-box-shadow: 0 1px 0 0 #e5a3ad;
    box-shadow: 0 1px 0 0 #e5a3ad;
  }

  .page-footer {
    /* padding-top: 12px; */
    color: #fff;
    background-color: black;
    width: 100%;
    bottom: 0px;
    position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 50px;
 
}


.modal .modal-footer {
    background-color: black;
}

.btn-flat {
    color: white;
}
   
.content {
    min-height: calc(100vh - 70px);
}

.btn {
    background-color: black;
}

.btn button:hover {
    
    background-color:#E5A3AD;

  }

.modal {
    background-color: white;
}




/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #e5a3ad;
}

.cForm {
    margin-top: 118px;
}



  @media only screen and (max-width: 600px) {
    .logo {
        width: 83%;
        margin-left: -17px;
        margin-top: 53px;
    }
  

    .page-footer {
        padding-top: 70px;
}



  }