nav {
padding: -10px;
background-color: black;
margin-bottom: 20px;
width: 100%
}

.slider {
    margin-top: 120px;
    width:100%
  
}

.sliderImage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.indicator-item.active {
    background-color: #E5A3AD
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-left: 54px;
    margin-top: 48px
}



h2 {
    font-size: 24px
}

h3 {
    /* color: black;
    background-color: rgba(255,255,255,0.5); */
    font-family: 'Playfair Display', serif;
    color:white;
    background-color: rgba(0, 0, 0, 0.3); 
}

h5 {
    color: black;
    background-color: rgba(255,255,255,0.5);
}

.grey-text.text-lighten-3 {
color: black
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* max-height: 300px; */
    margin: 2%;
    text-align: center;
    font-family: arial;
    font-size: small
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    /* opacity: 0.7; */
    background-color:#E5A3AD;

  }

  nav ul li:hover {
    background-color:#E5A3AD;
 }

 ul li:hover {
     background-color:#E5A3AD;
 }

  .sidenav {
      background-color: rgba(0, 0, 0, 0.8);

  }

  .sidenav li>a {
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 18px
  }